body p{
    margin-top: 1em;
}
.container{
    width: 90%;
    margin: auto;
    padding:10px;
}
#main{
    background-color:gainsboro;
    color: black;
}
#navbar{
    background-color: darkgray;
}
#navbar ul{
    padding: 0;
    list-style: none /* removes bullet points */
}

#navbar li{
    display: inline; /* displays the links on one line*/
    
}
#navbar a{ /* styles the links */
    color: black;
    text-decoration: underline;
    font-size: 20px;
    padding-right: 15px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.wrapper div{
    background-color: beige;
    padding: 1em;
}
.wrapper div:nth-child(odd){
    background-color: burlywood;
}

.form2 label{
    display: block;
    font-family: cursive;
}
.form3 legend, label{
    
    font-family: cursive;
}
.form4 label{
    display: block;
    font-family: cursive;
    width: 90%;
   
}


.form2 input[type="text"], form3 input[type="text"]{
    padding: 10px;
    width: 90%;
}
.form2 input[type="button"]{ /*can alternate with button*/
    background-color: gainsboro;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 15px;;
    margin: 10px;
}
.form5 input[type="button"], .form7 input[type="button"]{ /*can alternate with button*/
    background-color: gainsboro;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 15px;;
    margin: 10px;
}
.form7 label{
    display: block;
    font-family: cursive;
}


#footer{
    display: grid;
    grid-template-columns: 1fr;
    /*background-color: lightgray;
    /*text-align: left;
    padding: 0px;
    font-size: 15px;
    font-style: italic;
    margin-top: 100px;*/
}

/* responsive web design - optional in this layout */
@media(max-width:600px){
    #content-main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}